		
		.radius {
			border-radius: 100%;
		}	

		/*==========
				LAYOUT*/
			body {
				background-color: #48484D; /*#A4A971*/
				width: auto;
				height: auto;
				padding: 0;
				margin: 0;	
				font-family: Georgia, serif;	
				line-height: 1.5;
				overflow-x: hidden !important; 	
			}	
			body.home
				{
					
					background-image: url('blackMirror_frame_inverted.png');
					background-repeat: no-repeat;
					background-size: 100%;
				}
	
			.body-padding {
				padding-top: 300px;
				padding-bottom: 300px;
			}
			.logoDiv
				{
					width: 79%;	
					margin-top: 4%;	
					margin-bottom: 4%;		
				}

			.item {
				width: 70%;
				height: 475px;
			}

			.footMenu
				{		
					width: 30%;
					height: auto;
					margin: 0 0 4% 36.25%;
					padding-bottom: 2%;		
				}
		
		/*=======================
				FONT and FONT EFFECTS*/

			p
				{
					font-family: "Open Sans", sans-serif;
					font-weight: 300;
					color: #F0DCF6;
					font-size: 18px;
					text-align: center;
				}
			a 
				{
					font-family: "Muli", sans-serif;
					font-weight: 300;
					text-decoration: none !important;
					font-weight: bold;
					color: #F0DCC6;
				}	
			.item a
				{
					color: #F0DCCC;
					text-align: center;
					font-size: 24px;
					line-height: 1.2;
					text-decoration: none;
					transition: all 0.2s ease;
				}
			.item a:hover {
				opacity: 0.6;
			}		
			.intro-text 
				{
					margin-top: 40px;
				}
		
		/*==================
				VIDEO and IMAGES*/	
			img 
				{ 
					width: 100%;
					-ms-interpolation-mode: bicubic; 
				}
			.item img {
				margin-bottom: 20px;
			}
			.introLogo
				{
					width: 80%;
					height: auto;				
				}

			.logo
				{
					width: 80%;		
					position: relative;
					left: 24%;	
					padding: 0;
					margin-top: ;	
				}
				
			.video-curtain
				{	
					width: 96%;
					height: 380px;	
					padding-bottom: 6%;
					background-color: #48484D;																											/*ON/OFF*/
					position: absolute;
					z-index: 1;
				}
			.video-curtain h2
				{
					font-family: "Helvetica", sans-serif;
					font-weight: bold;
					font-size: 2em;
					text-align: center;
					color: #bbb;	
				}
			.video-curtain p
				{
					font-family: sans-serif;
					font-weight: ;
					font-size: 20px;
					color: #F0DCF6;	
					text-align: right;	
					position: relative;
					top:;	
				}
							/*END of VIDEOWRAPPER*/
				
		/*==============
				BUTTONS*/
			.intro-graphic {
				width: 80%;
				height: auto;
				margin:  16% 20% 12.85% 10%;
				cursor: pointer;
				transition: all 0.2s ease;
			}	
			.intro-graphic:hover {
				opacity: 0.6;
			}



