/*
	Menu List STYLESHEET
	by Terry Griffin
	February 2015
*/

.menu nav {
	z-index: 200;
}
.menu .first-brand {
	margin: 10px;
	border-right: 1px solid #FFF;
}
.menu .second-brand {
	margin-top: 22px;
}
.menu section {
	padding-top: 50px;
	overflow-x: hidden;
}
.menu-grid {
	background-image: url(../img/OT_F-HoleS.png);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}
.menu-item {
	padding: 20px 20px;
}
.menu-footer {
	background-color: #000;
	padding: 50px 40px;
}
.menu-footer li {
	margin-left: 10px;
}
.menu-footer address {
	margin-top: 10px;
	padding-top: 10px;
}
.menu-footer i.fa {
	font-size: 20px;
	margin-left: 10px;
}

/*==================
	IMAGES AND VIDEO*/

.bg-image {
	background-image: url(../img/OT_strouse_house.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	z-index: -100;
}

.fg-image {
	padding: 200px 60px 100px 60px;
	position: relative;
}
.bg-gradient {
	background: rgba(0,0,0,0.4);
}

.avatar-footer {
	width: 80%;
	border-radius: 50px;
}