
	/*
		Profile STYLESHEET | OldTimeThrowdown.com
		BY Terry Griffin
		February 2015
	*/
	
	body.profile {
		background: #FFF;
		color: #000;
	}

	.profile .first-brand {
		margin: 10px;
		border-right: 1px solid #FFF;
		transition: all 0.2s ease;
	}
	.profile .second-brand {
		margin-top: 22px;
		transition: all 0.2s ease;
	}

	.profile .first-brand:hover,
	.profile .second-brand:hover {
		opacity: 0.8;
	} 
	.string-bands .second-brand {
		margin-top: 18px;
	}
	.main-content .bio {
		margin: 40px;
	}
	.border-left {
		border-left: 1px solid #000;
	}
	.profile p {
		color: #000;
	}
	.profile a {
		color: #000;
	}
	.profile .social-links .fa {
		margin-top: 20px;
		margin-left: 5px;
		color: #000;
		font-size: 16px;
		transition: all 0.2s ease;
	}
	.profile .social-links .fa:hover {
		opacity: 0.6;
	}
	.read-more {
		color: #423A24;
		font-size: 18px;
		transition: all 0.2s ease;
	}
	.read-more:hover {
		opacity: 0.6;
	}
	p.help-block {
		font-size: 12px;
	}

	.modal-body {
		padding: 0 !important;
	}
	.modal img {
		margin-top: 40px;
		border-radius: 100%;
	}
	.modal p.bio {
		font-style: justify;
	}
				
				
			/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) 
{

}
/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {}
/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {}
/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {}
/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {}
/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {}
/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {}
/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {}

	/*END CSS Stylesheet*/