
	/*
		Profile STYLESHEET | OldTimeThrowdown.com
		BY Terry Griffin
		February 2015
	*/
	
	body.profile {
		background: #FFF;
	}

	.profile .first-brand {
		margin: 10px;
		border-right: 1px solid #FFF;
	}
	.profile .second-brand {
		margin-top: 20px;
	}

	.border-left {
		border-left: 1px solid #000;
	}

	p.help-block {
		font-size: 12px;
	}

			/*////////////////////////////////FONT and FONT EFFECTS*/


			.navLink a
				{
					font-size: 1.6em;	
					color: #fff;				
				}
			.profileHeading
				{
					width: 100%;
					font-size: 3.5em;
					text-align: center;	
					color: #423A24;
					margin-top: -4%;
								
				}		
			.profileText
				{
					font-size: 1.5em;
					color: #111;
					padding-top: 8%;
				}
			.readMore
				{
					color: #423A24;
					font-size: 2em;
				}
			.videoCaption
				{
					font-size: 1.4em;
					color: #123;
					margin: 1% 6% 0% 12.5%;
					text-align: justify;				
				}
			/*////////////////////////////////HEADINGS and LISTS SCREEN READERS*/
			h1 
				{
					font-size:2.6em;			/* displayed at 26px */
				}  
			h2
				 {
				 	font-size:2em;	 	/* displayed at 20px */
				 } 
			h3 
				{
					font-size:1.6em;		/* displayed at 16px */
				}  
			h4 
				{
					font-size:1.2em;			/* displayed at 12px */
				}
				
			/*////////////////////////////////HYPERLINKS*/
			.navMenu
				{
					position: relative;
					top: -86%;
					right: 6%;
					float: right;		
				}
				
			.navLink
				{
					list-style-type: none;
					position: relative;
					float: left;		
					padding: 6px;
				}
			
			
								/*SOCIAL MEDIA LOGO SPRITES*/
			.socialMediaBar
				{
					width: 50%;
					padding-top: 20%;
					position: relative;
					left: 25%;
				}
			.socialMediaList
				{
					width: auto;
					height: auto;
				}		
			.facebook,.pinterest, .reddit, .twitter
				{				
  					color: transparent;
  					display: block;
  					float: left;	
  					font: 0/0 a;
  					height: 55px;
  					width: 55px;
				}	
			.socialLogoDiv
				{
					position: relative;
					margin: 2px 0;				
				}	
			.facebook
				{
					background: url("/Users/jgriffin/Desktop/OTanyone/img/logoLinks/FbRdtPrstTwtr_logoSPRITE.png") -2px -2px no-repeat;
				}
			.pinterest
				{
					background: url("/Users/jgriffin/Desktop/OTanyone/img/logoLinks/FbRdtPrstTwtr_logoSPRITE.png") -56px -2px no-repeat;			
				}
			.reddit
				{
					background: url("/Users/jgriffin/Desktop/OTanyone/img/logoLinks/FbRdtPrstTwtr_logoSPRITE.png") -110px -2px no-repeat;			
				}
			.twitter
				{
					background: url("/Users/jgriffin/Desktop/OTanyone/img/logoLinks/FbRdtPrstTwtr_logoSPRITE.png") -164px -2px no-repeat;				
				}	
				
			/*////////////////////////////////VIDEO and IMAGES*/	
			img 
				{ 
					width: 100%;
					-ms-interpolation-mode: bicubic; 
				}
			.headImage
				{
					position: relative;
					width: 100%;	
					height: 100%;
					z-index: 0;
					margin: 0 ;
		
				}

			.headerLogo
				{
					width: 86px;
					height: auto;
					margin: 0.5% 1%;
					border-right: 1px solid #fff;
					padding-right: 1%;
					float: left;
				}
			.headerLogo img
				{
					width: 100%;
					height: auto;
					margin-top: 8%;

				}
			.pageLink_logo
				{
					width: 20%;
					height: auto;
					margin: 0.5% 1%;
					border-right: 1px solid #fff;
					padding-right: 1%;
					float: left;
				}
			.pageLink_Logo img
				{
					width: 10%;
					height: auto;
					margin-top: 1.15%;

				}
			.videoContent
				{
					width: 80%;
					padding: 0 16% 0 12%;
					border-left: 1px solid #111;
				}
				
							/* videoWrapper += iFrame copy-and-pasted from Thierry Koblentz, 2009 http://alistapart.com/article/creating-intrinsic-ratios-for-video */
			.videoWrapper 
				{
					position: relative;
					padding-bottom: 56.25%; /* 16:9 */
					padding-top: 25px;
					height: 0;
				}
			.videoWrapper iframe 
				{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
				
			/*////////////////////////////////*SCOPABLE DIMENSIONS FOR MEDIA TYPES*/				
				
			/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) 
{

}
/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {}
/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {}
/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {}
/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {}
/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {}
/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {}
/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {}

	/*END CSS Stylesheet*/